@{
    ViewData["Title"] = "Home Page";
}

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        Triyog, a school rich in a tradition of
excellence, was established way back
in 1987 as a premier girls’ school and
became co-educational in 1998. It aimed
at providing quality education: Triyog
symbolizes the ultimate development of
the mind, body, and spirit.
Starting with just 27 kids and 6 teachers,
Triyog now has over 1,100 students and
180 teachers & staff. Our first SLC batch of
40 students graduated in 1995. Till now,
over 2000 Triyogees have graduated with
high to outstanding marks. Our alumni
are doing well worldwide in their studies,
careers, and lives. 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                       <img src="~/NewFolder1/home.jpg" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Vision </h4>
                                    <p>To be the best school in Nepal offering education of international
standards for the all-round development of children & preparing
them for their future.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Mission</h4>
                                    <p>Triyog aspires to be a centre of excellence that develops
children intellectually, emotionally, physically, socially, morally &
aesthetically. We seek to give perfect schooling that helps them
acquire life-skills, sound character & positive attitude to excel in
their lives.
We have a shared commitment to have an inspiring teachinglearning environment where children fully engage themselves in
learning by doing. We endeavour to provide a competitive setting
with top-class facilities nurturing their talents and abilities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our Values</h4>
                                    <p>Truthfulness: Be honest and do the right thing.
Respect: Behave with dignity and treat all equally.
Integrity: Have the courage to match thoughts, words, and deeds.
Yearning: Show keenness to work hard and do your best.
Obedience: Take the responsibility for your behaviour and action.
Generosity: Work together for others and be kind..</p>
                                </div>
                            </div>
                        </div>
                    </div>
