
@{
    ViewData["Title"] = "Students";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
  <thead>
    <tr>
       <th scope="col">Roll Number</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Percentage</th>
      <th scope="col">Rank</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>92%</td>
      <td scope="col">1st</td>
    </tr>
    <tr>
       <td>23</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>91%</td>
      <td scope="col">2nd</td>
    </tr>
    <tr>
       <td>36</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>86%</td>
      <td scope="col">3rd</td>
    </tr>

        <tr>
       <td>2</td>
      <td>harry</td>
      <td>ribbon</td>
      <td>86%</td>
      <td scope="col">4th</td>
    </tr>

        <tr>
       <td>36</td>
      <td>Tom</td>
      <td>Gerrard</td>
      <td>84%</td>
      <td scope="col">5th</td>
    </tr>

      

  </tbody>
</table>
